<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Regression testing Suite" verbose="1" configfailurepolicy="continue" parallel="classes" thread-count="1">
   <listeners>
       <listener class-name="com.salesforce.framework.listeners.AllureListener"/>
   </listeners>
    <test name="tests">
        <classes>
            <class name="com.salesforce.tests.login.LoginTest"/>
            <class name="com.salesforce.tests.opportunity.AddNewOpportunityWithRequiredFieldsTest"/>
            <class name="com.salesforce.tests.opportunity.AddNewOpportunityWithAllFieldsTest"/>
            <class name="com.salesforce.tests.opportunity.NewOpportunityFieldsErrorsTest"/>
            <class name="com.salesforce.tests.opportunity.NewOpportunityRequiredFieldsErrorsTest"/>
        </classes>
    </test>
</suite>